* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 13px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

*,
a,
button {
  cursor: default;
  user-select: none;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.content {
  width: 100%;
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;

  position: relative;

  background-color: #1e1e1e;
  background-color: #ffffff;
}
